<%- include('../_layouts/header') %>

<h2 class="page-title">Categories</h2>
<a href="/admin/categories/create" class="btn btn-primary">Add a new category</a>
<br><br>

<table class="table table-striped">
    <thead>
        <tr class="home">
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <body>
        <% categories.forEach(function (category) { %>
            <tr id="id_<%= category._id %>" class="<%= category.slug %>">
                <td><%= category.title %></td>
                <td>
                    <a href="/admin/categories/<%= category._id%>/edit">Edit</a>
                    <form action="/admin/categories/<%= category._id%>/destroy" method="post" class="delete_confirm">
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td></td>
            </tr>
        <% }); %>
    </body>
</table>

<%- include('../_layouts/footer') %>